.anchorjs-link {
	color: #212529;
}

.anchorjs-link:hover {
	color: #212529;
	text-decoration: none;
}

.container-fluid,
.floor {
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer,
.header,
.floor {
	text-align: center;
}

.avatar {
	opacity: .9;
}

.avatar:hover {
	text-decoration: none;
	opacity: 1;
}

.avatar img {
	border-radius: 25px;
	width: 50px;
	height: 50px;
	box-shadow: 0 0 1px;
}

.level-error {
	color: #EA2027;
}

.level-warning {
	color: #EE5A24;
}

.level-suggestion {
	color: #009432;
}

.content img {
	max-width: 100%;
}

.mjx-chtml {
	display: inline-block;
	max-width: 99%;
	overflow-x: auto;
	overflow-y: hidden;
}

blockquote {
	border-left: solid 6px #bdc3c7;
	padding-left: 12px;
}
