# /lib/systemd/system/chameleon.service

[Unit]
Description=chameleon

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/full/path/to/bin/chameleon --config /full/path/to/config.toml

[Install]
WantedBy=multi-user.target
