# /lib/systemd/system/chameleon.service

[Unit]
Description=chameleon

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/path/to/bin/chameleon --config /path/to/config.toml  --templates /path/to/templates/

[Install]
WantedBy=multi-user.target
