{{define "title"}}
  {{ .Title }}
{{end}}

{{define "header"}}
  <a href="/{{ .Category.Slug }}/" class="btn btn-dark">
    <i class="fas fa-chevron-left"></i>
    {{ .Category.Name }}
  <a>
  <h1>
    {{ .Title }}
  </h1>
{{end}}

{{define "content"}}
  {{ .HTML }}
{{end}}

{{define "footer"}}
  <a href="https://github.com/{{.Category.Repo}}/blob/{{.Category.Branch}}/{{.Category.Dir}}/{{.File}}" class="btn btn-dark"
  target="_blank">
    <i class="far fa-eye"></i>
    Read on Github
  <a>

  <a href="https://github.com/{{.Category.Repo}}/edit/{{.Category.Branch}}/{{.Category.Dir}}/{{.File}}" class="btn btn-dark"
  target="_blank">
    <i class="far fa-edit"></i>
    Edit
  <a>

  <a href="https://github.com/{{.Category.Repo}}/issues/new" class="btn btn-dark" target="_blank">
    <i class="far fa-comment"></i>
    Comment
  <a>

  <a href="https://raw.githubusercontent.com/{{.Category.Repo}}/{{.Category.Branch}}/{{.Category.Dir}}/{{.File}}" class="btn btn-dark"
  target="_blank">
    <i class="fas fa-code"></i>
    View source
  <a>

  <div>
    <a href="/{{ .Category.Slug }}/" class="btn btn-dark">
      <i class="fas fa-chevron-left"></i>
      {{ .Category.Name }}
    <a>
  </div>
{{end}}


{{block "underground" .}}
  <div class="container-fluid bg-white text-body footer">
    <h2>Contributors</h2>
    {{ range .Authors }}
      <a href="https://github.com/{{ .Login }}" target="_blank" class="avatar">
      <img src="{{ .Avatar }}" alt="{{ .Login }}">
    {{end}}
  </div>

  <div class="container-fluid bg-dark text-white footer" style="text-align: left">
    <h2>Alerts</h2>
    <table class="table table-sm">
      <tr>
        <th>
          line
        </th>
        <th>
          level
        </th>
        <th>
          message
        </th>
        <th>
          check
        </th>
      </tr>
      {{ range .Alerts }}
        <tr>
          <td>{{ .Line }}:{{ .Span }}</td>
          <td class="level-{{ .Severity }}">{{ .Severity }}</td>
          <td>{{ .Message }}</td>
          <td>{{ .Check }}</td>
        </tr>
      {{end}}
    </table>
  </div>

{{end}}
