<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Hi, I'm Gram">
    <meta name="keywords" content="developer, portfolio, python, golang">
    <meta name="author" content="Gram (@orsinium)">
    <title>{{block "title" .}}Gram's articles{{end}}</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <style>
      .anchorjs-link {
        color: #6c757d;
      }

      .anchorjs-link:hover {
        color: #212529;
        text-decoration: none;
      }

      .container-fluid {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .footer, .header {
        text-align: center;
      }
    </style>
  </head>

  <body class="bg-dark text-white">

    <div class="container-fluid bg-dark text-white header">
      <div class="container">
        {{block "header" .}}
        {{end}}
      </div>
    </div>

    <div class="container-fluid bg-white text-body">
      <div class="container">
        {{block "content" .}}
          No content
        {{end}}
      </div>
    </div>

    <div class="container-fluid bg-dark text-white footer">
      <div class="container">
        {{block "footer" .}}
        {{end}}
      </div>
    </div>

    <!-- https://www.bryanbraun.com/anchorjs/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
    <script>
      anchors.options = {
        placement: 'left',
        icon: '#',
      };
      anchors.add('h2');
    </script>

    <!-- https://prismjs.com/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-tomorrow.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>

    <!-- https://cdnjs.com/libraries/prism/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-bash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-r.min.js"></script>

  </body>

</html>
