{{define "title"}}
  {{ .Article.Title }}
{{end}}

{{define "header"}}
  <h1>
    {{if .Parent}}
      <a href="../">{{ .Parent.Article.Title }}</a> /
    {{end}}
    {{ .Article.Title }}
  </h1>
{{end}}

{{define "toc"}}
  {{if .Category}}
    <ul>
      {{range .Category.Categories}}
        <li>
          <a href="./{{ .Path.Name }}/">{{ .Article.Title }}</a>
        </li>
      {{end}}
      {{range .Category.Articles}}
        <li>
          <a href="./{{ .Path.Name }}/">{{ .Title }}</a>
        </li>
      {{end}}
    </ul>
  {{end}}
{{end}}

{{define "content"}}
  {{ .Article.HTML }}
{{end}}

{{define "footer"}}
  <span class="statblock">
    <i class="far fa-eye"></i>
    views:
    {{ .Views.Get }}
  </span>
{{end}}
