{{define "title"}}
  403: Access Denied
{{end}}

{{define "header"}}
  <h1>
    403: Access Denied
  </h1>
{{end}}

{{define "content"}}
  <h3 class="text-center">
    <a href="/">Restart</a>
  </h3>
{{end}}
