{{define "title"}}
  404: Game Over
{{end}}

{{define "header"}}
  <h1>
    404: Game Over
  </h1>
{{end}}

{{define "content"}}
  <h3 class="text-center">
    <a href="/">Restart</a>
  </h3>
{{end}}
