{{define "title"}}
  {{ .Article.Title }}
{{end}}

{{define "header"}}
  <h1>
    {{if .Parent}}
      <a href="{{ .Parent.URLs.Main }}">{{ .Parent.Article.Title }}</a> /
    {{end}}
    {{ .Article.Title }}
  </h1>
{{end}}

{{define "toc"}}
  {{if .Category}}
    <div class="container-fluid text-light bg-dark text-center lead">
      <ul class="text-start" style="display: inline-block">
        {{range .Category.Categories}}
          <li>
            <a href="{{ .URLs.Main }}" class="link-light">{{ .Article.Title }}</a>
          </li>
        {{end}}
        {{range .Category.Articles}}
          <li>
            {{ .Commits.Edited.Time | date }}
            <a href="{{ .URLs.Main }}" class="link-light">{{ .Title }}</a>
          </li>
        {{end}}
      </ul>
    </div>
  {{end}}
{{end}}

{{define "content"}}
  {{ .Article.HTML }}

  <!-- https://prismjs.com/ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>

  <!-- https://cdnjs.com/libraries/prism/ -->
  {{ range .Article.Languages }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-{{ . }}.min.js"></script>
  {{ end }}
{{end}}

{{define "sidebar"}}
  {{if not .Category}}
    <div class="col-lg-2 col-md-3">
      <div>
        <i class="far fa-eye" title="views" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ .Views.Get }}
      </div>

      <div>
        <i class="far fa-save" title="created" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ .Article.Commits.Created.Time | date }}
      </div>

      <div>
        <i class="far fa-edit" title="edited" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ .Article.Commits.Edited.Time | date }}
      </div>

      <div>
        <i class="far fa-user" title="author" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ .Article.Commits.Created.Name }}
      </div>

      <div class="d-grid gap-2">
        <a class="btn btn-outline-primary btn-sm" href="{{ .Article.URLs.Linter }}">
          linter
        </a>
        <a class="btn btn-outline-primary btn-sm" href="{{ .Article.URLs.Commits }}">
          commits
        </a>
        <a class="btn btn-outline-primary btn-sm" href="{{ .Article.URLs.Raw }}">
          raw
        </a>
        {{ if .Article.URLs.Edit }}
          <a class="btn btn-outline-primary btn-sm" href="{{ .Article.URLs.Edit }}" target="_blank">
            edit
          </a>
        {{ end }}
      </div>
    </div>
  {{end}}
{{end}}
