{{define "title"}}
  {{ .Article.Title }}
{{end}}

{{define "header"}}
  <h1>
    {{if .Parent}}
      <a href="../">{{ .Parent.Article.Title }}</a> /
    {{end}}
    {{ .Article.Title }}
  </h1>
{{end}}

{{define "toc"}}
  {{if .Category}}
    <div class="container-fluid text-light bg-dark text-center lead">
      <ul class="text-start" style="display: inline-block">
        {{range .Category.Categories}}
          <li>
            <a href="./{{ .Path.Name }}/" class="link-light">{{ .Article.Title }}</a>
          </li>
        {{end}}
        {{range .Category.Articles}}
          <li>
            <a href="./{{ .Path.Name }}/" class="link-light">{{ .Title }}</a>
          </li>
        {{end}}
      </ul>
    </div>
  {{end}}
{{end}}

{{define "content"}}
  {{ .Article.HTML }}
{{end}}

{{define "sidebar"}}
  {{if not .Category}}
    <div class="col-lg-2 col-md-3">
      <div>
        <i class="far fa-eye" title="views" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ .Views.Get }}
      </div>

      <div>
        <i class="far fa-save" title="created" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ (last .Article.Commits).Time | date }}
      </div>

      <div>
        <i class="far fa-edit" title="edited" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ (first .Article.Commits).Time | date }}
      </div>

      <div>
        <i class="far fa-user" title="author" data-bs-toggle="tooltip" data-bs-placement="right"></i>
        {{ (last .Article.Commits).Name }}
      </div>
    </div>
  {{end}}
{{end}}
